* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* apply style to <header> */ 
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* apply header h1 size*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}
/* apply style to header nav */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav  ul {
    list-style-type: none;
}

header nav  ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 20px;
    width: 100%;
}
/* Hero style start */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* hero style End */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* apply style to content */
.content {
    width: 76%;
    display: inline-block;
    margin-left: 20px;
}
/* apply style to benefits */
.benefits {
    margin-right: 26px;
    padding: 65px;
    clear: both;
    float: right;
    width: 20%;
    height: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.Al-benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.Al-benefit h3 {
    margin-bottom: 15px;
    text-align: center;
}

.Al-benefit img {
    display: block;
    margin: 10px auto;
    max-width: 130px;
}
/*  style the step*/
.step {
    margin-bottom: 20px;
    padding: 46px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.step img {
    max-height: 200px;
}

.step h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* style the footer*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
